    * {
        margin: 0px;
        padding: 0px;
    }
    
    .clearfix {
        float: none;
        clear: both;
    }
    
    body {
        background-attachment: fixed;
        background: #fdfdfd;
    }
    
    #global {
        font-family: 'Open Sans', sans-serif;
        color: rgb(15, 15, 15);
        width: 60%;
        margin: 0px auto;
    }
    
    #header {
        border-radius: 10px;
        width: auto;
        margin: 0px auto;
    }
    
    #logo {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: bolder;
        letter-spacing: 4px;
        width: 420px;
        height: 80px;
        float: left;
        margin: -15px 0 20px 0px;
        line-height: 80px;
        /*text-transform: uppercase;*/
    }
    
    #menu {
        font-family: Helvetica, Arial;
        width: 340px;
        height: 80px;
        /*text-transform: uppercase;*/
        text-align: right;
        margin: 10px 0 20px 10px;
        float: right;
        color: #71758d;
    }
    
    #menu ul {
        list-style: none;
        line-height: 80px;
    }
    
    #menu ul li {
        height: 46px;
        display: inline-block;
        transition: all 300ms;
    }
    
    #menu ul li a {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        display: block;
        font-weight: bolder;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }
    
    #menu ul li a:hover {
        text-decoration: none;
        color: #fdcb58;
    }
    
    #menu ul li :visited {
        text-decoration: none;
        color: #71758d;
    }
    
    #content {
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif;
    }
    
    blockquote {
        margin: 20px 0 30px;
        border-left: 5px solid;
        padding-left: 20px;
        border-color: #fdcb58;
        color: #71758d;
    }
    
    #footer {
        width: 65%;
        margin-top: 50px;
        line-height: 47px;
    }
    
    #content h2,
    img {
        margin: 0 0 15px 0;
    }
    
    #content p {
        line-height: 40px;
    }
    
    .pHome {
        line-height: 40px;
        padding-top: 10px;
    }
    
    .imgPro {
        width: 520px;
        float: left;
        margin-right: 15px;
    }
    
    .imgInd {
        width: 100%;
    }
    
    .contactInfo {
        float: left;
        width: 40%;
        margin-top: 10px;
    }
    
    .contactAddress {
        float: right;
        width: 40%;
    }
    
    .destino {
        margin: 10px 0 10px;
        border-left: 5px solid;
        padding-left: 20px;
        border-color: #fdcb58;
        color: #71758d;
        font-size: medium;
    }
    
    table.horarioTable {
        border: 1px solid;
        margin: 10px 0 10px;
        width: 100%;
        background-color: #FFFFFF;
        border-collapse: collapse;
        border-width: 2px;
        border-color: #fdcb58;
        border-style: solid;
        color: #000000;
    }
    
    table.horarioTable thead {
        background-color: #71758d;
        color: #fdcb58;
    }
    
    table.horarioTable td,
    table.horarioTable th {
        border-width: 2px;
        border-color: #fdcb58;
        border-style: solid;
        padding: 5px;
    }